.App {
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.particles-canvas-home {
  background-color: pink;
  background: url("home_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;
  overflow: hidden;
  /* position: absolute; */
}

.particles-canvas-projects {
  background-color: pink;
  background: url("projects_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;
  overflow: hidden;
  /* position: absolute; */
}

.skills-container {
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  top: 5%;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container {
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  top: 40%;
  left: 0;
  color: white;
  /* display: flex;
  flex-direction:column; */
  text-align: left;
}

.container h1 {
  font-size: 72px;
  font-weight: 700;
}

.container h3 {
  width: fit-content;
}

a {
  color: white;
  text-decoration: none;
}

html * {
  font-family: "Helvetica Now Display", sans-serif;
}

.inverted-color,
.inverted-color a {
  color: black;
  background-color: white;
}


li {
  list-style: none;
  
}