@font-face {
  font-family: ApercuRegular;
  src: url("Apercu\ Regular.otf");
}

::-moz-selection { /* Code for Firefox */
  /* color: red; */
  background: purple;
}

::selection {
  /* color: red; */
  background: purple;
}


html {
  background-color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: white;
}

.App {
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  /* height: 100vh; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.particles-canvas-home {
  background-color: pink;
  background: url("home_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;
  overflow: hidden;
  transition: opacity 1s;
  opacity: 1;
  scroll-snap-align: start;
  max-height: 100vh;
  /* position: absolute; */
}

.particles-canvas-projects {
  background-color: pink;
  background: url("projects_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;
  overflow: hidden;
  /* position: absolute; */
}

.skills-container {
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  top: 5%;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main-text-container {
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  top: 35%;
  left: 0;
  color: white;
  /* display: flex;
  flex-direction:column; */
  text-align: left;
}

.main-text-container h1 {
  font-size: 72px;
  font-weight: 700;
}

.main-text-container h3 {
  width: fit-content;
}

a {
  color: white;
  text-decoration: none;
}

html * {
  font-family: ApercuRegular, "Source Sans Pro", Helvetica, Arial, sans-serif;
  /* font-family: "Helvetica Now Display", sans-serif; */
}

.inverted-color,
.inverted-color a {
  color: black;
  background-color: white;
}

li {
  list-style: none;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.profileSection {
  position: relative;
  transition: opacity 1s;
  opacity: 1;
  height: 100vh;
}

.experienceSection {
  position: relative;

  background-color: green;
  min-height: 100vh;
}

.skillSection {
  position: relative;
  fill: currentColor;
  background-color: pink;
  height: 100vh;
}

.invis,
.invis * {
  opacity: 0.3;
}

.profileSection p,
.experienceSection p,
.skillSection p {
  margin: 0;
}

/* .profileSection > div {
  top: 50%;
  vertical-align: middle;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1e3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

h3.section-font,
p.section-font,
span.section-font {
  padding-right: 30px;
  padding-left: 30px;
}

.section-font {
  text-align: left;
  font-size: 2rem;
}
.section-font-prim {
  text-align: left;
  font-size: 2rem;
}

.section-font-sec{
  text-align: left;
  font-size: 1.5rem;
}

p.v-center,
span.v-center {
  text-align: left;
  font-size: 2rem;
  padding-right: 30px;
  padding-left: 30px;
}

.img-container * {
  display: block;
}

/* .file-img {
  color: #0a4a6d;
  margin: 20px auto;
} */

/* .v-center {
  position: relative;
  top: 50%;
} */

.chevron-down-icon {
  top: 90%;
  left: 50%;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
  /* width: 40px;
  height: auto; */
  cursor: pointer;
  animation: pulse 1.5s infinite;
  /* border-radius: 50%; */
}

.profile-img {
  width: 158px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}

@keyframes pulse {
  0% {
    color: white;
    /* color: black; */
    transform: scale(0.8);
  }

  50% {
    color: grey;
    /* color: grey; */
    transform: scale(1);
  }

  100% {
    color: white;
    /* color: black; */
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 980px) {
  .main-text-container h1 {
    font-size: 3rem;
  }
  .main-text-container h3 {
    font-size: 1rem;
  }

  .main-text-container {
    top: 20%;
  }

  /* p.v-center {
    font-size: 1.5rem;
  } */

  .section-font {
    font-size: 1.5rem;
  }

  /* .profileSection {
    height: fit-content;
    max-height: 100vh;
  } */

  .profileSection > div {
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 20px;
    /* top: 50%;
    vertical-align: middle; */
  }
}
